body{
    margin: 0px;
}

.desktop-nav{
    width: 100%;
    padding: 15px 2%;
    background: #1a1f1a;
    z-index: 99;
    position: fixed;
    justify-content: space-between;
    margin:auto;
    display: flex;
    border-bottom: 1px solid #1a1f1a;
}
.menu{
    display: none;
}
#ham-1{
    color: #52a350;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 20px;
    display: none;
}
#ham-2{
    color: #52a350;
    margin-right: 500px;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    
}

.nav-menu {
    display: flex;
    padding-left: 70px;
}
.logosvg{
    margin-left: 50px;
}
ul{
    display: flex;
    margin-top: 1px;
    margin-right: 450px;
}
ul li{
    padding: 10px 25px;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}
ul li a:hover{
    color: #52a350;
}
.btn{
    margin-right: 155px;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.btn:hover{
    color: #52a350;
}
/*header ends*/
.container{
    background-color:  #1a1f1a;
    background-image: url(https://lms.terrahq.co/assets/hero-bg-lines.29ae5167.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.container-x{
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 100px;
}
.container-1{
    margin-top: 15px;
    padding-top: 7px;
    background-image: linear-gradient(to right, rgb(138, 56, 245), rgb(45, 127, 249));
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
.spn-1{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.spn-2{
    color: #85c799;
    text-decoration: none;
    font-size: 16px;
}
.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}
.section-a{
    padding-right: 40px;
    margin-top: 80px;
}
.big{
    font-size: 40px;
    color: white;
}

.sps{
    color: #52a350;
    font-size: 40px;
}
.partners{
    display: flex;
    margin-top: 5px;
}
.partner{
    display: none;
}
.image{
    width: 70px;
}
#job{
    margin-left: 6px;
}
#raven{
    padding-left: 40px;
}
#thire{
    padding-left: 40px;
    margin-bottom: 8px;
}
.p1{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    line-height: 1.5rem;
}
.btn-2{
    width: 110px;
    height: 50px;
    background-color: #52a350;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 7px;
}
.btn-2:hover{
    color: #52a350;
    background-color: white;
}
.p2{
    padding-left: 260px;
    color: white;
    font-size: 14px;
}


.section-c{
    float: right;
}
#circle{
    font-size: 6px;
    color: #52a350;
    padding-bottom: 15px;
}
.play{
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 130px;
}
#disc{
    font-size: 25px;
}
@media screen and (max-width: 930px){
    #ham-1{
        display: block;
    }
    #ham-2{
        cursor: pointer;
        position: absolute;
    
    }
    .line{
        display: block;
        padding: 0;
    }
    body{
        max-width: 100%;
    }
    .nav-menu{
        display: none;
    }
    .btn{
        display: none;
    }
    
.container-2{
    display: block;
    margin-top: 150px;

}
.section-a{
    text-align: center;
}
.sps{
    color: white;
    font-size: 60px;
}
.big{
    font-size: 60px;
}
.p1{
    margin-top: 10px;
}
.btn-2{
    float: right;
    margin-top: 15px;
}
.container{
    height: 850px;
    padding-bottom: 200px;
    background-size: contain;
}
.p2{
    display: none;
}
.section-c{
    text-align: center;
    float: none;
}
.play{
    margin-top: 17px;
}
.image{
    width: 70px;
}

.partner{
    display: flex;
    margin-top: 60px;
    align-content: center;
    margin-left: 37%;
}
.partners{
    display: none;
}
#raven{
    padding-left: 10px;
}
#thire{
    padding-left: 10px;
    margin-bottom: 8px;
}
.pix{
    max-width: 100%;
}

}
@media screen and (max-width: 600px){
    body{
        max-width: 100%;
    }
    .container-x{
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 100px;
    }
    .container-1{
        text-align: left;
    }
    .spn-1{
        font-size: 12px;
        margin-left: 10px;
    }
    .spn-2{
        font-size: 12px;
    }
    
    .container-2{
        margin-top: 80px;
    }    
    .container{
        width:100%;
        height: 650px;
        }
        .section-a{
            max-width: 100%;
            padding-right: 0px;
        }
    .pix{
        max-width: 100%;
    }
    .big{
        font-size: 34px;
    }
    .sps{
        font-size: 34px;
    }
    .logosvg{
        margin-left: 10px;
    }
    .btn-2{
        float: none;
        width: 100%;
    
    }
    .partner{
        display: flex;
        margin-top: 60px;
        align-content: center;
        margin-left: 29%;
    }
    
}
@media screen and (max-width: 430px){
    .partner{
        margin-left: 20%;
    }
    .container{
        height: 650px;
    }
    .container-1{
        margin-top: 5px;
    }
    .container-2{
        margin-top: 70px;
    }
    .p1{
        font-size: 14px;
    }
    .big{
        font-size: 45px;
    }
    .sps{
        font-size: 45px;
    }
}